@mixin button1($background,$fontcolor) {
    background-color: $background;
    padding:4px 10px;
    border-radius: 20px;
    color: $fontcolor;
    text-align: center;
    text-transform: uppercase;
    margin-left: 15px;
    font-weight: weight(bold);
    cursor: pointer;
}

@mixin  button2($background,$fontcolor)  {
    background-color: $background;
    padding:4px 10px;
    border-radius: 2px;
    color: $fontcolor;
    text-align: center;
    text-transform: capitalize;
    font-weight: weight(bold);
    font-size: $fontSize;
    margin-left: 10px;
    cursor: pointer;
    
}