
$font-stack: $spartan, Helvetica, sans-serif;


* {
    padding: 0;
    border: 0;
  }
  
  html{
    box-sizing: border-box;
    height: auto;
    width: auto;
  } 

  body{
  overflow-x: hidden;
  font-family:$font-stack;
  min-height: 100vh;
  min-width: 100vw;
  font-size: $fontSize;
}