@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
// ### Primary

$desaturatedDarkCyan: hsl(180, 29%, 50%);

// ### Neutral

$lightGrayishCyanBackground: hsl(180, 52%, 96%);
$lightGrayishCyanFilterTablets: hsl(180, 31%, 95%);
$darkGrayishCyan: hsl(180, 8%, 52%);
$veryDarkGrayishCyan: hsl(180, 14%, 20%);

// ### Body Copy

$fontSize: 15px;

// ### Headings

$spartan: 'Spartan';