@import 'config';
@import 'variables';
@import 'resets';
@import 'buttons';

.background-img{
    background-image: url('/images/bg-header-mobile.svg');
    background-repeat:no-repeat;
    background-color: $desaturatedDarkCyan;
    height: 155px;
 
  
    @include large{
      background-image: url('/images/bg-header-desktop.svg');
      background-repeat:no-repeat;
      height:100px;
      
      }
}

.container{
    margin: 25px;
    @include blockCenter(column);

}
    
.filter {
    display: none;
    // @include flexCenter(row);
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    flex-wrap: nowrap;
    margin-top: 50px;
    box-shadow: 2px 2px 13px 0px #5ba4a4;
    .roles {
        @include flexCenter(row);
        flex-wrap: wrap;
      
        .button-wrapper{
            @include flexCenter(row);
            margin-left: 2px;
            @include button2($lightGrayishCyanBackground, $desaturatedDarkCyan);
            padding: 1px;
            font-size: $fontSize*0.9;
            margin: 5px;
            .cross{
                margin-left: 4px;
                cursor: pointer;
                @include set-bg-color($desaturatedDarkCyan);

                &:hover{
                    @include set-bg-color($darkGrayishCyan);
                    transform: scale(.9);
                }
            }
            svg{
                background-color:$desaturatedDarkCyan;
                
            }
        }
        
    }
    .clear {
        color: $darkGrayishCyan;
        font-weight: weight(bold);
        background-color: white;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            color: $veryDarkGrayishCyan;
        }
    }
}

.disableSpan{
    display: none;
}
.card{
    @include flexStart(column);
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    flex-wrap: nowrap;
    margin-top: 50px;
    box-shadow: 2px 2px 13px 0px $desaturatedDarkCyan;

    
    &.new {
        border-left: 5px solid $desaturatedDarkCyan;

    }
    
    
    .card-top{
        margin-left: 13px;
    }

    .logo{
        margin-top: -59px;
    }

    .brand-name{
        @include flexCenter(row);
        
        

        & p {
            @include textSet($desaturatedDarkCyan, $fontSize);
            
        
        }
        .new {
            @include button1($desaturatedDarkCyan, $lightGrayishCyanBackground);
        }
        .featured{
            @include button1($veryDarkGrayishCyan, $lightGrayishCyanBackground);
            
        }
    }

    .job-title{
        @include textSet($veryDarkGrayishCyan, $fontSize);
        letter-spacing: .3px;
        cursor: pointer;
    }
    .details-wrapper{
        @include flexCenter(row);
        color: $darkGrayishCyan;
        font-weight: weight(regular);
        margin-top: 10px;
        font-size: $fontSize*0.9;
        justify-content: space-between;
    }
    .dot:before{
        content: '\00B7';
        padding-right:5px;
    }

    .roles{
        @include flexCenter(row);
        justify-content: start;
        flex-wrap: wrap;
        margin-bottom: 30px;

        .button{
            @include button2($lightGrayishCyanBackground, $desaturatedDarkCyan);
            flex-wrap: wrap;
            font-size: $fontSize*0.7;
            align-items: start;
            margin-top: 10px;
                &:hover{
                    @include set-bg-color ($desaturatedDarkCyan);
            }

        }
        
    }
    
    @include tablet {    
        @include flexCenter(row);
        flex-wrap: nowrap;
        justify-content: space-between;
            .logo {
                margin:0;
                @include flexCenter(row);
                align-items: center;
                justify-content: space-between;
                flex-wrap: nowrap;
            }
            .job-title-wrapper {
                margin-left: 20px;
            }
            .card-top{
                @include flexCenter(row)
            }
            .card-bottom {
                @include flexCenter(row);
            }
            .roles{
                margin-bottom: 0;
                align-items: center;
                flex-wrap: nowrap;

                .button {
                    margin-top: 0;
                }
            }
    }
}
.attribution { 
    font-size: 11px; text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }